body {
    font-family:sans-serif,serif,arial;
    font-size:12px;
    padding:0;
}

a {
    color:#999;
    text-decoration:none;
}

a:hover {
    color:#4F8DB3;
}

#menu {
    margin:0 0 15px;
    height:150px;
    font-size:14px;
}

#menu div {
    position: relative;
    max-width:1024px;
    margin:0 auto;
}

#menu li {
    background:#FFF;
    line-height:25px;
    
    display:block;
}

ul {
    list-style:none;
    padding:0;
    margin:0;
}
li.menu-item {
    float:left;
    width:150px;
    background:none;
}
li.menu-item li {
    padding:0 10px;
}

pre {
    background:#DFF0D8;
    border:1px solid #D6E9C6;
    border-radius:4px;
    padding:15px;
    color:#3C763D;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
    display: inline-block;
}